:root {
    --ml: 1em;
    --mr: 1em;
    --mrl: 1em;
    --mt: 1em;
    --mb: 1em;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
}

header {
    display: flex;
    width: 100%;
    min-height: 50px;

    background-color: rgb(67, 121, 153);
    color: white;

    align-items: center;
    justify-content: center;
}

body {
    position: relative;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 15%;
}

/* form {
    width: 115px;
} */
aside {
    flex-direction: column;
    margin-left: var(--ml);
    margin-top: var(--mt);
    width: 115px;
    /* max-width: 15%; */
    min-width: 15%;
}

textarea {
    margin-top: var(--mt);
    max-width: 98%;
    text-align: center;
    justify-items: center;
    border: 1px solid grey;
    border-radius: 5px;
}

p {
    margin-top: var(--mt);
    margin-bottom: var(--mb);
}

button {
    width: 100%;
    color: white; 
    background-color: gray;
    border-radius: 5px;
    height: 25px;
    margin-bottom: var(--mb);
    border: 0px;
}

button:hover, button:focus{
    color:black;
    font-weight: bolder;
}

#history {
    border-top: 2px solid gray;
    padding-top: 5px;
}
#btnSearch {
    background-color: rgb(92,140,221);
}

#weatherContainer {
    flex-direction: column;
    margin-top: var(--mt);
    max-width: 85%;
    width:75%;
    margin-left: var(--ml);
}

#cardToday {
    border: .5px solid black;
    margin-left: var(--ml);
    flex-direction: column;
    max-width: 85%;
    height: 150px;
} 

#card5day {
    margin-top: var(--mt);
    margin-left: var(--ml);
}

#card5day h4{
    margin-top: var(--mt);
}

.card {
    padding: 5px;
    margin: 4px;
}

.card .daily {
    max-height: 200px;
}

.lbl-lg {
    font-size: large;
    font-weight: bold;
}

.forecast {
    background-color: rgb(46,60,77);
    color: white;
    margin: 4px;
    width: 100px;
    min-width: 17%;
}

#container5day {
    max-width:90%;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    width: 25px;
    height: 25px;
}

.card-title {
    font-size: large;
    font-weight: bold;
    width: 75%;
}